@import "../variables.scss";

.collection-filters {
  width: 12rem;
  padding: 0 1rem 0 0;
  list-style: none;
  margin: 0 2rem 0 1rem;
  max-height: 85vh;
  overflow-y: scroll;
  box-shadow: inset 0 -5px 3px -4px rgba(0, 0, 0, 0.15);
}

.collection-filter {
  display: block;
  margin: 0.5rem 0;

  a {
    text-decoration: none;
    color: $color-body-text;
    display: block;
    padding: 0.25rem 0.5rem;

    &:hover,
    &:focus {
      outline: 0;
      background: $color-background;
    }
  }

  &--active {
    background: $color-background;
  }
}
